In [1]:
import pandas as pd
import numpy as np

In [2]:
labels = ['a','b','c']
my_list = [10,20,30]
arr = np.array([10,20,30])
d = {'a':10,'b':20,'c':30}

In [3]:
d

{'a': 10, 'b': 20, 'c': 30}

In [4]:
pd.Series(labels)

0    a
1    b
2    c
dtype: object

In [5]:
pd.Series(my_list,labels)

a    10
b    20
c    30
dtype: int64

In [6]:
pd.Series(data=my_list,index=labels)

a    10
b    20
c    30
dtype: int64

In [8]:
pd.Series(arr)

0    10
1    20
2    30
dtype: int32

In [9]:
pd.Series(d)

a    10
b    20
c    30
dtype: int64

In [10]:
data = pd.Series([1,2,3,4],index=['ID','JP','US','RU'])

In [11]:
data

ID    1
JP    2
US    3
RU    4
dtype: int64

In [13]:
data2 = pd.Series([1,2,4,5],index=['ID','JP','RU','IN'])

In [14]:
data

ID    1
JP    2
US    3
RU    4
dtype: int64

In [15]:
data + data2

ID    2.0
IN    NaN
JP    4.0
RU    8.0
US    NaN
dtype: float64